In [1]:
import pandas as pd
import numpy as np

In [24]:
#

apple = pd.read_csv('AppleStore.csv', error_bad_lines=False)  #Error tokenizing data. C error: Expected 1 fields in line 913, saw 15
apple.head()

b'Skipping line 913: expected 1 fields, saw 15\nSkipping line 1219: expected 1 fields, saw 15\n'

  ,"id","track_name","size_bytes","currency","price","rating_count_tot","rating_count_ver","user_rating","user_rating_ver","ver","cont_rating","prime_genre","sup_devices.num","ipadSc_urls.num","lang.num","vpp_lic";
0  1,"281656475","PAC-MAN Premium",100788224,"USD...
1  2,"281796108","Evernote - stay organized",1585...
2  3,"281940292","WeatherBug - Local Weather, Rad...
3  4,"282614216","eBay: Best App to Buy, Sell, Sa...
4  5,"282935706","Bible",92774400,"USD",0,985920,...

In [29]:
apple = pd.read_csv('AppleStore.csv', delimiter=",", encoding='utf-8')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 913, saw 15

In [31]:
#as i could not use the dataset above, i decided to use the other one that we already had (that i think that is the same.)

apple = pd.read_csv('AppleStore.csv')
apple.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [32]:
apple

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7192,11081,1187617475,Kubik,126644224,USD,0.00,142,75,4.5,4.5,1.3,4+,Games,38,5,1,1
7193,11082,1187682390,VR Roller-Coaster,120760320,USD,0.00,30,30,4.5,4.5,0.9,4+,Games,38,0,1,1
7194,11087,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,USD,1.99,15,0,4.5,0.0,1.0.2,9+,Utilities,37,1,1,1
7195,11089,1187838770,VR Roller Coaster World - Virtual Reality,97235968,USD,0.00,85,32,4.5,4.5,1.0.15,12+,Games,38,0,2,1
7196,11097,1188375727,Escape the Sweet Shop Series,90898432,USD,0.00,3,3,5.0,5.0,1.0,4+,Games,40,0,2,1

In [35]:
#takeing a look in the dataset:

apple.columns

Index(['Unnamed: 0', 'id', 'track_name', 'size_bytes', 'currency', 'price',
       'rating_count_tot', 'rating_count_ver', 'user_rating',
       'user_rating_ver', 'ver', 'cont_rating', 'prime_genre',
       'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'],
      dtype='object')

In [36]:

apple.dtypes

Unnamed: 0            int64
id                    int64
track_name           object
size_bytes            int64
currency             object
price               float64
rating_count_tot      int64
rating_count_ver      int64
user_rating         float64
user_rating_ver     float64
ver                  object
cont_rating          object
prime_genre          object
sup_devices.num       int64
ipadSc_urls.num       int64
lang.num              int64
vpp_lic               int64
dtype: object

In [34]:
apple.describe()

,Unnamed: 0,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
count,7197.000000,7.197000e+03,7.197000e+03,7197.000000,7.197000e+03,7197.000000,7197.000000,7197.000000,7197.000000,7197.000000,7197.000000,7197.000000
mean,4759.069612,8.631310e+08,1.991345e+08,1.726218,1.289291e+04,460.373906,3.526956,3.253578,37.361817,3.707100,5.434903,0.993053
std,3093.625213,2.712368e+08,3.592069e+08,5.833006,7.573941e+04,3920.455183,1.517948,1.809363,3.737715,1.986005,7.919593,0.083066
min,1.000000,2.816565e+08,5.898240e+05,0.000000,0.000000e+00,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000
25%,2090.000000,6.000937e+08,4.692275e+07,0.000000,2.800000e+01,1.000000,3.500000,2.500000,37.000000,3.000000,1.000000,1.000000
50%,4380.000000,9.781482e+08,9.715302e+07,0.000000,3.000000e+02,23.000000,4.000000,4.000000,37.000000,5.000000,1.000000,1.000000
75%,7223.000000,1.082310e+09,1.819249e+08,1.990000,2.793000e+03,140.000000,4.500000,4.500000,38.000000,5.000000,8.000000,1.000000
max,11097.000000,1.188376e+09,4.025970e+09,299.990000,2.974676e+06,177050.000000,5.000000,5.000000,47.000000,5.000000,75.000000,1.000000

In [38]:
apple.isnull().sum()

Unnamed: 0          0
id                  0
track_name          0
size_bytes          0
currency            0
price               0
rating_count_tot    0
rating_count_ver    0
user_rating         0
user_rating_ver     0
ver                 0
cont_rating         0
prime_genre         0
sup_devices.num     0
ipadSc_urls.num     0
lang.num            0
vpp_lic             0
dtype: int64

In [39]:
apple['prime_genre'].unique()

array(['Games', 'Productivity', 'Weather', 'Shopping', 'Reference',
       'Finance', 'Music', 'Utilities', 'Travel', 'Social Networking',
       'Sports', 'Business', 'Health & Fitness', 'Entertainment',
       'Photo & Video', 'Navigation', 'Education', 'Lifestyle',
       'Food & Drink', 'News', 'Book', 'Medical', 'Catalogs'],
      dtype=object)

In [45]:
apple['prime_genre'].value_counts()

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

In [40]:
apple['track_name'].unique()

array(['PAC-MAN Premium', 'Evernote - stay organized',
       'WeatherBug - Local Weather, Radar, Maps, Alerts', ...,
       'Bret Michaels Emojis + Lyric Keyboard',
       'VR Roller Coaster World - Virtual Reality',
       'Escape the Sweet Shop Series'], dtype=object)

In [48]:
#apple['track_name'].value_counts()

In [41]:
apple['price'].unique()

array([  3.99,   0.  ,   0.99,   9.99,   4.99,   7.99,   2.99,   1.99,
         5.99,  12.99,  21.99, 249.99,   6.99,  74.99,  19.99,   8.99,
        24.99,  13.99,  14.99,  16.99,  47.99,  11.99,  59.99,  15.99,
        27.99,  17.99, 299.99,  49.99,  23.99,  20.99,  39.99,  99.99,
        29.99,  34.99,  18.99,  22.99])

In [43]:
apple['currency'].unique()

array(['USD'], dtype=object)

In [44]:

apple['rating_count_tot'].unique()

array([ 21292, 161065, 188583, ...,    283,   3384,   1441], dtype=int64)

In [52]:
apple.pivot_table(values=["price"],index=["prime_genre"],aggfunc=["mean"],fill_value=0)

                       mean
                      price
prime_genre
Book               1.790536
Business           5.116316
Catalogs           0.799000
Education          4.028234
Entertainment      0.889701
Finance            0.421154
Food & Drink       1.552381
Games              1.432923
Health & Fitness   1.916444
Lifestyle          0.885417
Medical            8.776087
Music              4.835435
Navigation         4.124783
News               0.517733
Photo & Video      1.473295
Productivity       4.330562
Reference          4.836875
Shopping           0.016311
Social Networking  0.339880
Sports             0.953070
Travel             1.120370
Utilities          1.647621
Weather            1.605417

In [65]:
apple_clean= apple.pivot_table(values=["price", "rating_count_tot"],index=["prime_genre"],aggfunc=["mean", "sum", "count"],fill_value=0, ) 
apple_clean

                       mean                       sum                  count  \
                      price rating_count_tot    price rating_count_tot price
prime_genre
Book               1.790536      5125.437500   200.54           574049   112
Business           5.116316      4788.087719   291.63           272921    57
Catalogs           0.799000      1732.500000     7.99            17325    10
Education          4.028234      2239.229581  1824.79          1014371   453
Entertainment      0.889701      7533.678505   475.99          4030518   535
Finance            0.421154     11047.653846    43.80          1148956   104
Food & Drink       1.552381     13938.619048    97.80           878133    63
Games              1.432923     13691.996634  5533.95         52878491  3862
Health & Fitness   1.916444      9913.172222   344.96          1784371   180
Lifestyle          0.885417      6161.763889   127.50           887294   144
Medical            8.776087       592.782609   201.85            13634    23
Music              4.835435     28842.021739   667.29          3980199   138
Navigation         4.124783     11853.956522   189.74           545282    46
News               0.517733     13015.066667    38.83           976130    75
Photo & Video      1.473295     14352.280802   514.18          5008946   349
Productivity       4.330562      8051.325843   770.84          1433136   178
Reference          4.836875     22410.843750   309.56          1434294    64
Shopping           0.016311     18615.327869     1.99          2271070   122
Social Networking  0.339880     45498.898204    56.76          7598316   167
Sports             0.953070     14026.929825   108.65          1599070   114
Travel             1.120370     14129.444444    90.75          1144485    81
Utilities          1.647621      6863.822581   408.61          1702228   248
Weather            1.605417     22181.027778   115.59          1597034    72


                  rating_count_tot
prime_genre
Book                           112
Business                        57
Catalogs                        10
Education                      453
Entertainment                  535
Finance                        104
Food & Drink                    63
Games                         3862
Health & Fitness               180
Lifestyle                      144
Medical                         23
Music                          138
Navigation                      46
News                            75
Photo & Video                  349
Productivity                   178
Reference                       64
Shopping                       122
Social Networking              167
Sports                         114
Travel                          81
Utilities                      248
Weather                         72

In [ ]:
# Count:
#Games                3862
#Entertainment         535
#Education             453

In [66]:
apple_clean.to_csv('Aple_clean.csv')
apple_clean

                       mean                       sum                  count  \
                      price rating_count_tot    price rating_count_tot price
prime_genre
Book               1.790536      5125.437500   200.54           574049   112
Business           5.116316      4788.087719   291.63           272921    57
Catalogs           0.799000      1732.500000     7.99            17325    10
Education          4.028234      2239.229581  1824.79          1014371   453
Entertainment      0.889701      7533.678505   475.99          4030518   535
Finance            0.421154     11047.653846    43.80          1148956   104
Food & Drink       1.552381     13938.619048    97.80           878133    63
Games              1.432923     13691.996634  5533.95         52878491  3862
Health & Fitness   1.916444      9913.172222   344.96          1784371   180
Lifestyle          0.885417      6161.763889   127.50           887294   144
Medical            8.776087       592.782609   201.85            13634    23
Music              4.835435     28842.021739   667.29          3980199   138
Navigation         4.124783     11853.956522   189.74           545282    46
News               0.517733     13015.066667    38.83           976130    75
Photo & Video      1.473295     14352.280802   514.18          5008946   349
Productivity       4.330562      8051.325843   770.84          1433136   178
Reference          4.836875     22410.843750   309.56          1434294    64
Shopping           0.016311     18615.327869     1.99          2271070   122
Social Networking  0.339880     45498.898204    56.76          7598316   167
Sports             0.953070     14026.929825   108.65          1599070   114
Travel             1.120370     14129.444444    90.75          1144485    81
Utilities          1.647621      6863.822581   408.61          1702228   248
Weather            1.605417     22181.027778   115.59          1597034    72


                  rating_count_tot
prime_genre
Book                           112
Business                        57
Catalogs                        10
Education                      453
Entertainment                  535
Finance                        104
Food & Drink                    63
Games                         3862
Health & Fitness               180
Lifestyle                      144
Medical                         23
Music                          138
Navigation                      46
News                            75
Photo & Video                  349
Productivity                   178
Reference                       64
Shopping                       122
Social Networking              167
Sports                         114
Travel                          81
Utilities                      248
Weather                         72

In [ ]:
#questions:

Main: 
Does price impact the use of apps? 
    
Sub:

What are the best app genres considering price and total rate?

#answers:

Main and Sub:
The graph with the average 'price x average score', shows that the app of the medical genre are the most expensive 
and the last in the total average rating.
Medical is the last one in count as well, it could be because of the price, but at the same time it could be because 
we are talking about a small target. 
When we compare the sum of the rate relative to some price, the genre Medical apear with the worse rate and in 11 position in higher price.

In the first position when we avaluate sum of rate and price is the genre Games, which are also the most downloaded apps, and appear in 14 position
with average price per app.

Despite the large volume of apps in the Games category, this is the best one considering rate, price and quantity.

https://public.tableau.com/profile/gabriela.scatena.clemente#!/vizhome/Apple_tableau-comparativebetweengenres/Histria1?publish=yes

Probably to draw conclusions, the ideal would be to separate the dataset taking into account the apps that are paid and those that are not, and also to clean it up in order to better understand which apps are in each category.
I also believe that both my question and my answers are very shallow and without many conclusions, sorry.