In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv('Datasets/AppleStore.csv',index_col=[0])
data

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11081,1187617475,Kubik,126644224,USD,0.00,142,75,4.5,4.5,1.3,4+,Games,38,5,1,1
11082,1187682390,VR Roller-Coaster,120760320,USD,0.00,30,30,4.5,4.5,0.9,4+,Games,38,0,1,1
11087,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,USD,1.99,15,0,4.5,0.0,1.0.2,9+,Utilities,37,1,1,1
11089,1187838770,VR Roller Coaster World - Virtual Reality,97235968,USD,0.00,85,32,4.5,4.5,1.0.15,12+,Games,38,0,2,1
11097,1188375727,Escape the Sweet Shop Series,90898432,USD,0.00,3,3,5.0,5.0,1.0,4+,Games,40,0,2,1

"id" : App ID

"track_name": App Name

"size_bytes": Size (in Bytes)

"currency": Currency Type

"price": Price amount

"ratingcounttot": User Rating counts (for all version)

"ratingcountver": User Rating counts (for current version)

"user_rating" : Average User Rating value (for all version)

"userratingver": Average User Rating value (for current version)

"ver" : Latest version code

"cont_rating": Content Rating

"prime_genre": Primary Genre

"sup_devices.num": Number of supporting devices

"ipadSc_urls.num": Number of screenshots showed for display

"lang.num": Number of supported languages

"vpp_lic": Vpp Device Based Licensing Enabled

In [9]:
data.currency.value_counts()

USD    7197
Name: currency, dtype: int64

In [10]:
data.user_rating.value_counts()

4.5    2663
4.0    1626
0.0     929
3.5     702
5.0     492
3.0     383
2.5     196
2.0     106
1.5      56
1.0      44
Name: user_rating, dtype: int64

In [11]:
data.dtypes

id                    int64
track_name           object
size_bytes            int64
currency             object
price               float64
rating_count_tot      int64
rating_count_ver      int64
user_rating         float64
user_rating_ver     float64
ver                  object
cont_rating          object
prime_genre          object
sup_devices.num       int64
ipadSc_urls.num       int64
lang.num              int64
vpp_lic               int64
dtype: object

In [13]:
games=data[data['prime_genre']=='Games']

In [15]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3862 entries, 1 to 11097
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3862 non-null   int64
 1   track_name        3862 non-null   object
 2   size_bytes        3862 non-null   int64
 3   currency          3862 non-null   object
 4   price             3862 non-null   float64
 5   rating_count_tot  3862 non-null   int64
 6   rating_count_ver  3862 non-null   int64
 7   user_rating       3862 non-null   float64
 8   user_rating_ver   3862 non-null   float64
 9   ver               3862 non-null   object
 10  cont_rating       3862 non-null   object
 11  prime_genre       3862 non-null   object
 12  sup_devices.num   3862 non-null   int64
 13  ipadSc_urls.num   3862 non-null   int64
 14  lang.num          3862 non-null   int64
 15  vpp_lic           3862 non-null   int64
dtypes: float64(3), int64(8), object(5)
memory usage: 512.9+ KB

In [20]:
games.to_csv('C:/Users/TDias/Documents/GitHub/lab-tableau/Datasets/games.csv')

In [28]:
interval=games[(games['price']>0.0)]
interval

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
6,283619399,Shanghai Mahjong,10485713,USD,0.99,8253,5516,4.0,4.0,1.8,4+,Games,47,5,1,1
10,284736660,Ms. PAC-MAN,70023168,USD,3.99,7885,40,4.0,4.0,4.0.4,4+,Games,38,0,10,1
11,284791396,Solitaire by MobilityWare,49618944,USD,4.99,76720,4017,4.5,4.5,4.10.1,4+,Games,38,4,11,1
12,284815117,SCRABBLE Premium,227547136,USD,7.99,105776,166,3.5,2.5,5.19.0,4+,Games,37,0,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11041,1185580782,Survivalcraft 2,57349120,USD,3.99,292,292,4.0,4.0,2.0.20.1,9+,Games,40,5,1,1
11043,1185777521,问仙奇遇-新玩法新套装嗨到爆,208026624,USD,0.99,0,0,0.0,0.0,1.0,9+,Games,38,5,1,1
11074,1187128255,飞刀传奇-动作武侠热血江湖即时PK传奇（登录爆金装）,537462784,USD,0.99,0,0,0.0,0.0,2.1.0,9+,Games,38,5,1,1
11077,1187279979,Add-Ons Studio for Minecraft,22999040,USD,2.99,97,97,3.0,3.0,1.0,4+,Games,37,5,3,1
11079,1187282363,Plead the Fifth - The Game,27853824,USD,2.99,11,0,4.0,0.0,1.1.1,17+,Games,37,0,1,1

In [29]:
interval.to_csv('C:/Users/TDias/Documents/GitHub/lab-tableau/Datasets/interval.csv')

In [32]:
top_range=games[(games['rating_count_tot']>=284)&(games['rating_count_tot']<=3515)]

In [33]:
top_range

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
58,294536447,First Words Animals,32164864,USD,1.99,2576,4,4.0,5.0,7.0,4+,Games,38,5,1,1
108,306169895,Tozzle - Toddler's favorite puzzle,168192000,USD,2.99,2562,10,4.0,4.5,5.1,4+,Games,37,5,4,1
114,306628397,Phrase Party!,47774720,USD,1.99,878,48,4.0,4.5,8.7.5,17+,Games,38,5,1,1
115,306937053,Minesweeper Classic,22259712,USD,0.99,1140,20,3.5,3.5,3.6,4+,Games,37,4,1,1
128,308339980,iRagdoll - Ragdoll Physics,118683648,USD,0.99,1372,25,4.0,4.0,1.8.3,12+,Games,37,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10752,1174041307,Linda Brown: Interactive Story,162812928,USD,0.00,537,36,4.5,4.5,1.2.6,12+,Games,37,3,1,1
10880,1178082935,Stickman Base Jumper 2,323822592,USD,0.00,1362,1142,5.0,5.0,1.0.1,4+,Games,38,5,1,1
10886,1178454068,Bottle Flip!,124506112,USD,0.00,3384,3124,4.5,4.5,1.1.1,4+,Games,40,5,1,1
10990,1181904201,4x4 Dirt Track Trials Forest Driving Parking Sim,278811648,USD,0.00,1441,1441,5.0,5.0,1.0.1,4+,Games,37,5,1,1
11041,1185580782,Survivalcraft 2,57349120,USD,3.99,292,292,4.0,4.0,2.0.20.1,9+,Games,40,5,1,1

In [34]:
top_range.to_csv('C:/Users/TDias/Documents/GitHub/lab-tableau/Datasets/top_range.csv')

In [58]:
price_range=top_range[(top_range['price']>=0)&(top_range['price']<=6.0)]

In [59]:
price_range

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
58,294536447,First Words Animals,32164864,USD,1.99,2576,4,4.0,5.0,7.0,4+,Games,38,5,1,1
108,306169895,Tozzle - Toddler's favorite puzzle,168192000,USD,2.99,2562,10,4.0,4.5,5.1,4+,Games,37,5,4,1
114,306628397,Phrase Party!,47774720,USD,1.99,878,48,4.0,4.5,8.7.5,17+,Games,38,5,1,1
115,306937053,Minesweeper Classic,22259712,USD,0.99,1140,20,3.5,3.5,3.6,4+,Games,37,4,1,1
128,308339980,iRagdoll - Ragdoll Physics,118683648,USD,0.99,1372,25,4.0,4.0,1.8.3,12+,Games,37,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10752,1174041307,Linda Brown: Interactive Story,162812928,USD,0.00,537,36,4.5,4.5,1.2.6,12+,Games,37,3,1,1
10880,1178082935,Stickman Base Jumper 2,323822592,USD,0.00,1362,1142,5.0,5.0,1.0.1,4+,Games,38,5,1,1
10886,1178454068,Bottle Flip!,124506112,USD,0.00,3384,3124,4.5,4.5,1.1.1,4+,Games,40,5,1,1
10990,1181904201,4x4 Dirt Track Trials Forest Driving Parking Sim,278811648,USD,0.00,1441,1441,5.0,5.0,1.0.1,4+,Games,37,5,1,1
11041,1185580782,Survivalcraft 2,57349120,USD,3.99,292,292,4.0,4.0,2.0.20.1,9+,Games,40,5,1,1

In [60]:
agg_price=price_range[['price','user_rating']].reset_index(drop=True)

In [61]:
agg_price

      price  user_rating
0      1.99          4.0
1      2.99          4.0
2      1.99          4.0
3      0.99          3.5
4      0.99          4.0
...     ...          ...
1041   0.00          4.5
1042   0.00          5.0
1043   0.00          4.5
1044   0.00          5.0
1045   3.99          4.0

[1046 rows x 2 columns]

In [66]:
agg_price.to_csv('C:/Users/TDias/Documents/GitHub/lab-tableau/Datasets/agg_price.csv')

In [64]:
result=agg_price.groupby('price').mean().reset_index()

In [65]:
result

   price  user_rating
0   0.00     4.255319
1   0.99     4.264228
2   1.99     4.318750
3   2.99     4.238532
4   3.99     4.375000
5   4.99     4.201299
6   5.99     4.166667

In [67]:
result.to_csv('C:/Users/TDias/Documents/GitHub/lab-tableau/Datasets/result.csv')